*,
:after,
:before {
  box-sizing: border-box;
}
html,
body {
 
    height: 100%;
    /* margin: 5px; */
    font-family: 'Lora', serif;
  
    background-color: white;
  

}

.title{
    /* font-family: 'Lato', sans-serif; */
   
    color:#274c77;
    letter-spacing: 10px;
    font-size: 4em;
    display: flex;
    justify-content: center;
    /* padding:5px; */
}
h2{
   
    color:#274c77;
    letter-spacing: 5px;
    font-size: 2em;
    display: flex;
    justify-content: center;
    /* padding:5px; */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background-color: #e1e3ea;
 
    font-family: sans-serif;
  }

.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#myBookshelf{
    background-color:#e7ecef;
    /* height: 200px; */
   
}

#input-group{
    display: flex;
    justify-content: center;
    padding: 2px;
    color: azure;
}
.form{
    padding: 5px;
    margin: 5px;
    font-family: 'Lora', serif;
    border-radius: 5px;  
}
.btn{
    padding: 5px;
    margin: 5px;
    font-family: 'Lora', serif;
    border-radius: 5px;  
}


.card{
    background-color:#e7ecef;
    padding:5%;
    margin: 5px;
    border-radius: 10px;
    opacity: 90%;
    width: 17rem;
}
.html-results{
    display: grid;
    gap: 1em;
    /* grid-template-columns: 1fr 1fr; */
    display: inline-grid;
    
}
.search-container{
    /* background-color:#6096ba; */
    background-color: #a3cef1;
   
}

/* Media Queries*/

@media screen and (min-width: 768px) {

    .html-results{
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr 1fr;
  
        
    }
    }

 @media screen and (min-width: 1024px) {
    .html-results{
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      
    }
    }