*,
:after,
:before {
  box-sizing: border-box;
}
html,
body {
 
    height: 100%;
    margin: 5;
    font-family: 'Lora', serif;
    background-color: #f4f4f6;
    background-image: url("images/alfons-morales-YLSwjSy7stw-unsplash.jpg");

}


.card{
    background-color: rgb(223, 220, 220);
    padding:5%;
    margin: 5px;
    border-radius: 10px;
    opacity: 90%;
}
.html-results{
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}